<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="logDirectory" value="${basedir}/logs"/>

  <extensions>
    <add assembly="ExceptionTracker.Logger"/>
  </extensions>
  <targets>
    <!-- Mongodb -->
    <target xsi:type="MongoAdapter"
            name="mongoAdapter"
            connectionString="mongodb://localhost:27017"
            collectionName="mongo-nlog">
      <field name="ProcessID" layout="${processid}" bsonType="String" />
    </target>
    <target xsi:type="ColoredConsole" name="console" layout="${time} | ${message} ${onexception: -> ${exception:format=type,message,method;maxInnerExceptionLevel=5;innerFormat=shortType,message,method}}"/>
    <target name="file"
                xsi:type="File"
								fileName="${logDirectory}/${date:format=HH\:mm\:ss}.log"
								layout="${date:format=HH\:mm\:ss}-${pad:padCharacter= :padding=5:fixedLength=true:inner=${level}}- TN [${threadid}]: ${threadname} - ${message} ${onexception: -> ${exception:format=type,message,method;maxInnerExceptionLevel=5;innerFormat=shortType,message,method} - ${stacktrace}} "
								archiveFileName="${logDirectory}/archives/log.{#}.txt"
								archiveEvery="Day"
								archiveNumbering="Rolling"
								maxArchiveFiles="7" />
  </targets>

  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="file" />
    <logger name="*" writeTo="mongoAdapter" />
  </rules>
</nlog>