<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="ExceptionTracker.Logger.Adapter.Log4Net.MongoDBAppender">
     <ConnectionString value="mongodb://localhost:27017"/>
     <CollectionName value="etlog4net"/>
    </appender>
  </log4net>
</configuration>